body{
    background-image: url("/src/background.jpg");
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.promotional{
    width: 65%;
    height: 35%;
    margin: 5%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title h1{
    width: 100%;
    text-align: center;
    margin-bottom: 2%;

    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: goldenrod;
}

.title h2{
    width: 100%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;

    align-items: center;
    justify-content: center;

    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: seashell;
}

.image img{
    width: 100%;
    height: 45vh;

    box-shadow: inset 0 0 1em orangered, 0 0 1em goldenrod;
    border-radius: 15px;   
}

.description{
    width: auto;
    margin-top: 2%;
    margin-bottom: 2%;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: seashell;
    text-align: center;
}

.description #email{
    width: 45%;
    height: 5vh;

    border: 1px solid orangered;
    border-radius: 25px;
    text-indent: 20px;
    color: black;
    font-size: 16px;
    outline: none;
}

.description #submit{
    width: 20%;
    height: 5.4vh;

    margin-left: -5%;
    background-color: gold;
    border: 1px solid orangered;
    border-radius: 25px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.description #submit:hover{
    cursor: pointer;
    background-color: seagreen;
    color: seashell;
    transition-delay: 160ms;
}



